.comment-container{
    color: #fff;
    display: flex;
    justify-content: center;
background-color: rgb(49, 48, 48);
}
.comment-subcontainer{
    max-width: 550px;
    
}
.total-comments{
   margin-bottom: 30px;
   padding: 10px;
    background-color: rgb(35, 32, 32);
    width: 130px;
    border-radius: 20px;
}
.padding-all p{
    padding: 4px;
    
}
.vote{
    border-bottom: 1px solid rgb(78, 75, 75);
    margin-bottom: 20px;
}