
.home-container a{
    text-decoration: none;
}
.home-container{
background-color: rgb(49, 48, 48);
    
   
    
}


@media screen and (max-width: 1024px) {
    .home-container {
        width: 100%;
        margin-left: 0;
        height: auto;

    }


}

@media screen and (max-width: 600px) {
    .home-container {
        width: 100%;
        margin-left: 0;

    }

}