body{
  margin: 0;
  padding: 0;
  background-color: rgb(49, 48, 48);
}
.App{
  display: flex;
  
}
.nav{
  position:fixed;
  width: 300px;
  height: 100vh;
  background-color: rgb(49, 48, 48);
  margin-top: 60px;
  border-right: 2px solid rgb(86, 83, 83);;
 
}
.header{
  z-index: 222;
position: fixed;
  align-items: center;
 top: 0;
  width: 100%;
  background-color: rgb(49, 48, 48);
  height: 60px;border-bottom: 2px solid rgb(86, 83, 83);;
  
  
}